Build/
Doc/
Util/alcommon/
Util/boost/
.project
*.user
*.suo
*.sdf
*.lnk
Make/VS2015/.vs/
Make/VS2015/Debug/
Make/VS2015/ipch/
Make/VS2015/obj/
Make/VS2015/B-Human.*
Make/VS2015/bush.*
Make/VS2015/Controller.*
Make/VS2015/copyfiles.vc*
Make/VS2015/lib*
Make/VS2015/Nao.*
Make/VS2015/qt*
Make/VS2015/Sim*
Make/VS2015/Tests.*
Make/LinuxCodeLite/
.kdev4/*
CMakeLists.txt
*.kdev4
Make/NetBeans/*/*
.idea/*
*.xcodeproj
.tags
.tags1
.atom-build.json
.clang_complete
/Src/Tools/Math/kiss_fft130/test
