# Build artifacts and IDE files
/Build/
/.vs/
/.idea/
/.vscode/
/.devcontainer/
/CMakeUserPresets.json

# Ignore links
/*.lnk

# Mac OS
.DS_STORE

# CMake / CLion default builder folder
/cmake-build-*/
