Build/
Doc/
Util/alcommon/
Util/boost/
Util/Matlab/CNN/Image-Database/
.project
*.user
*.user.*
*.suo
*.sdf
*.lnk
Make/VS2015/.vs/
Make/VS2015/Debug/
Make/VS2015/ipch/
Make/VS2015/obj/
Make/VS2015/B-Human.*
Make/VS2015/bush.*
Make/VS2015/Controller.*
Make/VS2015/copyfiles.vc*
Make/VS2015/lib*
Make/VS2015/Nao.*
Make/VS2015/qt*
Make/VS2015/Sim*
Make/VS2015/Tests.*
Make/VS2017/.vs/
Make/VS2017/Debug/
Make/VS2017/ipch/
Make/VS2017/obj/
Make/VS2017/B-Human.*
Make/VS2017/bush.*
Make/VS2017/Controller.*
Make/VS2017/copyfiles.vc*
Make/VS2017/lib*
Make/VS2017/Nao.*
Make/VS2017/qt*
Make/VS2017/Sim*
Make/VS2017/Tests.*
Make/LinuxCodeLite/
.kdev4/*
CMakeLists.txt
*.kdev4
Make/NetBeans/*/*
.idea/*
*.xcodeproj
.tags
.tags1
.atom-build.json
.clang_complete
/Src/Tools/Math/kiss_fft130/test
.clang-format
.dir-locals.el
Config/Scenes/standUp.con
Config/Scenes/standUp.ros2
Config/Robots/Default/Gains
/*.gitignore
cmake-build-debug/
cmake-build-develop/
cmake-build-release/
